:root {
  --primary-text-color: #333;
  --secondary-text-color: #444;
  --card-background-color: rgba(150, 150, 150, 0.2);
  --card-active-color: rgba(150, 150, 150, 0.3);
  --card-border-color: rgba(150, 150, 150, 0.5);
}

.App {
  padding: 2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  color: var(--primary-text-color);
  min-height: 100vh;
}

.Clear {
  background-image: url("assets/sunny_min.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.Clouds {
  background-image: url("assets/cloudy_min.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.Snow {
  background-image: url("assets/snow_min.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.Thunderstorm {
  background-image: url("assets/storm_min2.jpg");
  background-attachment: fixed;
  background-size: cover;
}

