.current-weather {
    display: flex;
    height: 12vh;
    align-items: center;
}

.current-weather .weather-icon {
    height: 22vh;
    min-height: 80px;
}

.current-weather .temp {
    text-align: center;
}

.current-weather .temp > span {
    font-size: 3em;
}

.current-weather .feels-like {
    color: var(--secondary-text-color);
    font-weight: normal;
    font-size: 0.8em;
    margin-top: 0.5em;
}

@media (max-width: 800px) {
    .current-weather .weather-icon {
        height: 16vh;
        min-height: 60px;
    }
    .current-weather .temp > span {
        font-size: 2em;
    }
  }