.forecast-card {
    text-align: center;
    background-color: rgba(150, 150, 150, 0.2);
    border-radius: 10%;
    padding: 2vh 3vh 2vh 3vh;
}

.forecast-card:hover {
    background-color: rgba(150, 150, 150, 0.3);
}

.forecast-card-selected {
    background-color: rgba(150, 150, 150, 0.3);
    border-color:  rgba(150, 150, 150, 0.5);
    border-style: inset;
    border-width: thin;
}

.forecast-card .week-day { 
    font-size: 0.9em;
}

.forecast-card .weather-icon{
    height: 16vh;
    min-height: 60px;
    margin: -10px 0 -10px 0;
}

.forecast-card .high-low {
    color: #444;
    font-weight: normal;
    font-size: 0.8em;
}
