.forecast-card {
  text-align: center;
  background-color: var(--card-background-color);
  border-radius: 2vh;
  padding: 2vh 3vh 2vh 3vh;
}

.forecast-card:hover {
  background-color: var(--card-active-color);
}

@keyframes card-hover {
  100% {
    background-color: var(--card-active-color);
  }
}

.forecast-card-selected {
  background-color: var(--card-active-color);
  border-color: var(--card-border-color);
  border-style: inset;
  border-width: thin;
}

.forecast-card .week-day {
  font-size: 0.9em;
}

.forecast-card .weather-icon {
  height: 16vh;
  min-height: 60px;
  margin: -10px 0 -10px 0;
}

.forecast-card .high-low {
  color: var(--secondary-text-color);
  font-weight: normal;
  font-size: 0.8em;
}
