.selected-day-forecast {
  display: flex;
  flex-direction: row;
  margin-top: 3vh;
  column-gap: 2vw;
  align-content: flex-start;
}

.selected-day-forecast .details {
    background-color: var(--card-background-color);
    border-radius: 2vh;
    padding: 2vh 2vw 2vh 2vw;
    height: fit-content;
    text-align: center;
    min-width: 250px;
}

.selected-day-forecast .main-temp {
    text-align: center;
    font-size: 2em;
    padding: 3vh;
}

.selected-day-forecast .left-details {
    float: left;
    align-self: center;
    color: var(--secondary-text-color);
    font-weight: normal;
    font-size: 0.8em;
    text-align: left;
    padding-right: 1vw;
}

.selected-day-forecast .right-details {
    float: right;
    align-self: center;
    color: var(--secondary-text-color);
    font-weight: normal;
    font-size: 0.8em;
    text-align: left;
}

.selected-day-forecast .detail {
    align-self: flex-start;
    font-weight: normal;
    margin-top: 0.5em;
}

.selected-day-forecast .hourly {
    background-color: var(--card-background-color);
    padding: 2vh 3vh 2vh 3vh;
    height: fit-content;
    border-radius: 2vh;
}


@media (max-width: 800px) {
    .selected-day-forecast {
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
        align-items: center;
      }

      .selected-day-forecast .hourly {
        padding: 2vh 2vh 2vh 2vh;
    }
  }